@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');
 body {
   text-align: center;
   }
   .primary_controls {
     
     border-top: 4px solid #303030;
   border-bottom: 4px solid #303030;
     
       background: -moz-linear-gradient(top, rgba(58,58,68,0.89) 0%, rgba(54,54,64,0.89) 3%, rgba(49,49,59,1) 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,58,68,0.89)), color-stop(3%,rgba(54,54,64,0.89)), color-stop(100%,rgba(49,49,59,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(58,58,68,0.89) 0%,rgba(54,54,64,0.89) 3%,rgba(49,49,59,1) 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top, rgba(58,58,68,0.89) 0%,rgba(54,54,64,0.89) 3%,rgba(49,49,59,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, rgba(58,58,68,0.89) 0%,rgba(54,54,64,0.89) 3%,rgba(49,49,59,1) 100%); /* IE10+ */
     background: linear-gradient(top, rgba(58,58,68,0.89) 0%,rgba(54,54,64,0.89) 3%,rgba(49,49,59,1) 100%); /* W3C */
 }
 #stop {
   position: absolute;
     left: 0.5em;
 }
 .countdown {
   display: inline-block;
     color: black;
   font: 14em"Courier New", Courier, mono;
     text-align:center;
 }
 #logname {
   display: inline-block;
     text-align: left;
 }
 #logtime {
   display: inline-block;
     text-align: right;
 }
 #logs {
   margin-left: auto;
     margin-right: auto;
   max-width: 1100px;
   }
